{% extends 'base.htm' %}
{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

  <h1 class="my-4">Latest Blog
    <!-- <small>Secondary Text</small> -->
  </h1>
  {% for i in  post_list %}

  <!-- Blog Post -->
  <div class="card mb-4">
    <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{  i.title }}</h2>
      <p class="card-text">{{ i.description  }}</p>
      <a href="{% url 'post-detail' i.id %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{i.create_at}}
      <a href="#">{{i.author}}</a>
    </div>
  </div>
  {% endfor %}
  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

</div>
{% endblock content %}