{% extends 'base.htm' %}

{% block content %}
<!-- Blog Entries Column -->

<div class="col-md-8">

    <h1 class="my-4">This post by
        <small>{{post_detail.author | capfirst}}</small>
    </h1>


    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="{{ post_detail.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{  post_detail.title }}</h2>
            <p class="card-text">{{ post_detail.description  }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted on {{post_detail.create_at}}
            <a href="#">{{post_detail.author}}</a>
        </div>
    </div>
    <div class="card-footer">
        <h1>{{post_detail.comments.all | length}} Comments</h1>
        {% if post_detail.comments %}

        {% for comment in post_detail.comments.all %}
        <p>{{comment.name}}</p>
        <p>{{comment.body}}</p>
        <hr>
        {% endfor %}

        {% endif %}

        <h1>Leave a reply</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Post Comment" class="btn btn-success">
        </form>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>
{% endblock content %}